.audioPlayer_box{
    display: flex;
    flex-direction: column;

    align-items: center;

    padding: 5px;
    margin: 0 0 10px 0;
    background-color: rgb(177, 213, 243);
    border-radius: 5px;
}
.audioPlayer_box__track_info{
    display: grid;
    grid-template-areas: 
    'c a t ti'
    'c a l l';

    grid-template-columns: 100px 60px 1fr 50px;
    grid-template-rows: 35px 20px;
}
.track_info__avatar{
    grid-area: a;
    width: 50px;
    height: 50px;
    padding: 2px 5px 5px 2px;
    border-radius: 10px;
}
.track_info__song_title{
    grid-area: t;
    padding-top: 5px;
}
.track_info__song_title p{
    display: block;
    font-size: 10px;
    padding-left: 5px;
    margin: 0;
}
.track_info__control{
    grid-area: c;

    display: flex;
    justify-content: center;
}
.button_audio{

}
.button_audio img{
    width: 10px;
    height: 10px;
}
.track_info__time{
    grid-area: ti;
    padding-top: 10px;
}
.track_info__time span{
    font-size: 14px;
}
.track_info__range{
    grid-area: l;
}
input[type='range'] {
    overflow: hidden;
    height: 5px;
    min-width: 450px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #d6dada;
    border-radius: 5px;
}
@media (max-width: 992px) {
    input[type='range'] {
        min-width: 250px;
    }
}
@media (max-width: 767px) {
    input[type='range'] {
        min-width: 200px;
    }
}
@media (max-width: 576px) {
    input[type='range'] {
        min-width: 100px;
    }
}
@media (max-width: 306px) {
    .audioPlayer_box__track_info{
        display: grid;
        grid-template-areas: 
        'c c c'
        'a t ti'
        'a l l';
    
        grid-template-columns: 60px 1fr 50px;
        grid-template-rows: 55px 35px 20px ;
    }
}
input[type='range']:hover{
    height: 10px;
}
input[type='range']::-webkit-slider-runnable-track {
    height: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #8cb4f0;
    margin-top: -1px;
}
input[type='range']:hover::-webkit-slider-runnable-track {
    height: 10px;
}
input[type='range']::-moz-range-track {
    height: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #8cb4f0;
    margin-top: -1px;
}
input[type='range']:hover::-moz-range-track {
    height: 10px
}

input[type='range']::-webkit-slider-thumb {
    width: 5px;
    height: 5px;
    background: #434343;
    cursor: ew-resize;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: -80px 0 0 80px #90b7eb;
}
input[type='range']::-moz-range-thumb {
    width: 5px;
    height: 5px;
    background: #434343;
    cursor: ew-resize;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: -80px 0 0 80px #90b7eb;
}
input[type='range']:hover::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: -80px 0 0 80px #6da3e9;
}
input[type='range']:hover::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: -80px 0 0 80px #6da3e9;
}

.audioPlayer__another_songs{
    overflow-y: auto;

    /* костыль */
    max-height: 425px;
}

.song_element{
    margin: 5px 0;
    height: 35px;
}

.song_element:hover{
    background-color: rgb(220, 233, 245);
}
.song_element:hover .song_element__control{
    visibility: visible;
    background-color: rgba(238, 198, 198, 0.493);
}
.song_element__play{
    
    background-color: rgba(238, 198, 198, 0.493);
}
.song_element__audio{
    display: grid;

    grid-template-areas: 
    'a t ti';

    grid-template-columns: 15% 70% 15%;
}
.audio_ava{
    grid-area: a;

    display: flex;

    align-items: center;
}
.audio_ava img{
    width: 35px;
    height: 35px;
    border-radius: 4px;
}
.audio_title{
    grid-area: t;
}
.audio_title p{
    font-size: 10px;
    margin: 0;
}
.audio_time{
    grid-area: ti;
}
.audio_time span{
    float: right;
}
.song_element__control__eny{
    position: relative;
    top: -35px;
    left: 0px;
}

.song_element__control{
    width: 35px;
    height: 35px;
    border-radius: 4px;

    display: flex;

    align-items: center;
    justify-content: center;

    visibility: hidden;
}
.song_element__control img{
    width: 20px;
    height: 20px;
}