.element_box{
    padding: 5px 0;
}

.element_box__checkbox{
    display: inline-block;
    padding-right: 5px;
}
.element_box__nameProporty{
}

.entry_field__errors{
    display: inline-block;
    color: red;
    border: 1px solid red;
}