.app-wrapper {
  margin: 0 auto;
  display: grid;

  max-width: 1200px;

  grid-template-areas:
    'h h'
    'n c';

  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 5fr;
  grid-gap: 10px;
}


.app-wrapper__nav {
  grid-area: n;
  background-color: rgb(119, 119, 245);
  
  width: 200px;

  z-index: 2;
}

.app-wrapper__header {
  grid-area: h;
  background-color: rgb(119, 119, 245);
}

.app-wrapper__content {
  grid-area: c;
  background-color: azure;
}

.test_container {
  visibility: hidden;
  position: absolute;
}

@media (min-width: 1400px) {
  .app-wrapper {
    min-width: 1320px;
  }
  .app-wrapper__header{
    min-width: 1320px;
  }
  .app-wrapper__content{
    min-width: 1105px;
  }
}

@media (max-width: 1200px) {
  .app-wrapper {
    max-width: 970px;
  }
  .app-wrapper__header{
    max-width: 970px;
  }
  .app-wrapper__content{
    max-width: 755px;
  }
}

@media (max-width: 992px) {
  .app-wrapper {
    max-width: 750px;
  }
  .app-wrapper__header{
    max-width: 750px;
  }
  .app-wrapper__content{
    max-width: 535px;
  }
}

@media (max-width: 767px) {
  .app-wrapper {
    margin: 0 auto;
    max-width: none;
    grid-template-areas:
      'h'
      'c';
    grid-template-rows: 60px 1fr;
    grid-template-columns: 100%;
  }
  .app-wrapper__header{
    max-width: none;
  }
  .app-wrapper__nav{
    position: absolute;
    left: 0;
    top: 60px;
    grid-area: c;
  }
  .app-wrapper__content{
    max-width: none;
  }
  .app-wrapper__visibility__mobile{
    visibility: hidden;
  }
}

@media (max-width: 306px) {
  .app-wrapper {
    grid-gap: 2px;
  }
}